<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head th:replace="base :: head-source">
</head>
<body>
<nav th:replace="base :: main-navbar"></nav>

<div class="container">

    <br/><br/><br/>
    <div class="bg-light form-background">
        <div class="row">
            <div class="col-2">&nbsp;</div>
            <div class="col-8">
                <br/><br/>
                <h3 class="text-center">Add an Instructor</h3><br/>

                <form method="POST" action="/add" th:object="${instructor}" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="hidden" th:field="*{id}"
                               class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" th:field="*{name}"
                               class="form-control" id="nameInput"
                               placeholder="Enter name" />
                    </div>

                    <div class="form-group">
                        <label for="courseIdInput">Course ID</label>
                        <input type="text" th:field="*{courseId}"
                               class="form-control" id="courseIdInput"
                               placeholder="Enter course ID" />
                    </div>

                    <div class="form-group">
                        <label for="employeeIdInput">Employee ID</label>
                        <input type="text" th:field="*{employeeId}"
                               class="form-control" id="employeeIdInput"
                               placeholder="Enter employee ID" />
                    </div>

                    <div class="form-group">
                        <label for="departmentInput">Department</label>
                        <select class="form-control" id="departmentInput" th:field="*{department}">
                            <option th:each="aCategory : ${categories}" th:value="${aCategory.id}"
                                    th:text="${aCategory.department}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="fileInput">Image</label>
                        <input class="form-control" id="fileInput" type="file" name="file" />
                    </div>

                    <button department="submit" class="btn btn-warning btn-lg">Submit</button>
                    <br/><br/>
                </form>
            </div>
            <div class="col-2">&nbsp;</div>
            <br/><br/><br/>
        </div> <!-- end row -->
    </div>

</div>

<div class="emptySpace"></div>
<footer th:replace="base :: footer"></footer>
<div th:replace="base :: scripts"></div>
</body>
</html>