<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head th:replace="base :: head-source">
</head>
<body>
<nav th:replace="base :: main-navbar"></nav>

<div class="container">

    <br/><br/><br/>
    <div class="bg-light form-background">
        <div class="row">
            <div class="col-2">&nbsp;</div>
            <div class="col-8">
                <br/><br/>
                <h3 class="text-center">Add a Car</h3><br/>
                <form method="POST" action="/add" th:object="${meme}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="topInput">Manufacturer</label>
                        <input type="text" th:field="*{manufacturer}" class="form-control" id="topInput" placeholder="Enter manufacturer" />
                    </div>
                    <div class="form-group">
                        <label for="bottomInput">Model</label>
                        <input type="text" th:field="*{model}" class="form-control" id="bottomInput" placeholder="Enter model" />
                    </div>

                    <div class="form-group">
                        <label for="yearInput">Year</label>
                        <input type="text" th:field="*{year}" class="form-control" id="yearInput" placeholder="Enter year" />
                    </div>

                    <div class="form-group">
                        <label for="priceInput">Price</label>
                        <input type="number" class="form-control" id="priceInput" min="0" step="0.01" name="msrp" value="0.0" placeholder="Enter price" />
                    </div>

                    <div class="form-group">
                        <label for="categoryInput">Category Type</label>
                        <select class="form-control" id="categoryInput" th:field="*{type}">
                            <option th:each="aCategory : ${categories}" th:value="${aCategory.id}"
                                    th:text="${aCategory.categorie}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="fileInput">Image</label>
                        <input class="form-control" id="fileInput" type="file" name="file" />
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                    <br/><br/>
                </form>
            </div>
            <div class="col-2">&nbsp;</div>
            <br/><br/><br/>
        </div> <!-- end row -->
    </div>

</div>


<!--<footer th:replace="base :: footer"></footer>-->
<div th:replace="base :: scripts"></div>
</body>
</html>